@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  padding-top: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 80px;
}
header .container .header-list ul {
  display: flex;
}
header .container li {
  padding: 10px;
  font-size: 12px;
}
header .container li.underline {
  border-bottom: 4px solid #0082f9;
}
header .container li.underline a {
  color: #0082f9;
}
header .container li a {
  color: black;
}

section {
  background-image: url("../images/footer-bg.jpg");
}
section .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 0;
}
section .links {
  display: flex;
}
section .list-item {
  margin-right: 20px;
  display: block;
}
section .list-item ul {
  display: block;
}
section .shop {
  margin-top: 20px;
}
section h3 {
  color: white;
  margin-bottom: 8px;
}
section li {
  padding: 7px 0;
}
section li a {
  color: grey;
  font-size: 12px;
}
section .image img {
  width: 460px;
  position: absolute;
  top: 0;
  right: 0;
}

.bottom {
  background-color: #303030;
  background-image: none;
  padding: 30px 0;
}
.bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom .btn {
  border: 2px solid #0082f9;
  padding: 10px;
}
.bottom .btn a {
  color: white;
  font-size: 13px;
}
.bottom ul {
  display: flex;
  align-items: center;
}
.bottom li {
  padding: 0 10px;
}
.bottom .blue a {
  color: #0082f9;
  font-weight: 700;
}
.bottom a img {
  width: 30px;
}