@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .logo {
  width: 80px;
}
.container .header-list ul {
  display: flex;
}
.container li {
  padding: 10px;
  font-size: 12px;
}
.container li.underline {
  border-bottom: 4px solid #0082f9;
}
.container li.underline a {
  color: #0082f9;
}
.container li a {
  color: black;
}