section{
    background-image: url('../images/footer-bg.jpg');

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 0;
    }
    
    .links{
        display: flex;
    }
    
    .list-item{
        margin-right: 20px;
        display: block;

        ul{
            display: block;
        }
    }
    
    .shop{
        margin-top: 20px;
    }
    
    h3{
        color: white;
        margin-bottom: 8px;
    }
    
    li {
        padding: 7px 0;

        a{
            color: grey;
            font-size: 12px;
        }
    }
    
    .image img{
        width: 420px;   
    }
}
