.bottom{
    background-color: #303030;
    background-image: none;
    padding: 30px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn{
        border: 2px solid $secondary_color;
        padding: 10px;

        a{
            color: white;
            font-size: 13px;
        }
    }

    ul{
        display: flex;
        align-items: center;
    }

    li{
        padding: 0 10px;
    }
    .blue a{
        color: $secondary_color;
        font-weight: 700;
    }

    a img{
        width: 30px;
    }
}